* {
    box-sizing: border-box;
}
body {
    background-image: url(../img/maxresdefault.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#envoltorio {
    width: 90%;
    margin: 0 auto;
    min-width: 600px;
}
#envoltorio header img {
    width: 100%;
    border: 2px solid black;
}
#envoltorio nav {
    background-color: firebrick;
    border: 2px solid black;
    width: 100%;
    text-align: center;
}
#envoltorio nav #indice {
    align-items: stretch;
}
#envoltorio nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
.carrusel img {
    width: 30%;
}
.carrusel {
    display: flex;
}
.delante img {
    width: 60px;
    margin: 100px auto;
}
.images {
    justify-content: space-around;
    display: flex;
}
.Cuirc {
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: "miFuenteChulaD";
    src: url('../Fuentes/one piece font.ttf');
}
.tamaño {
    font-family: miFuenteChulaD;
    font-size: 20pt;
    font-weight: bold;
    width: 950px;
    height: 400px;
    color: white;
    padding: 20px;
    margin-top: 40pt;
    background-color: black
}
.tamaño1 img {
   
    width: 100%;
    height: 100%;
}
.tamaño1 {
    margin-top: 55px;
    width: 400px;
    height: 400px;
}
h1{
    text-align: center;
}
*{
    box-sizing: border-box;
}
#envoltorio{
    width: 90%;
    margin: 0 auto;
    min-width: 650px;
}
#envoltorio header img{
    width: 100%;
    border-radius: 10px;
}
#envoltorio #contenido{
    display: flex;
    flex-direction: column;

}
#envoltorio #contenido main{
    width: 100%;
    padding: 20px 5px;
}
#envoltorio #contenido a {
    text-decoration: none;
    color: white;
}
#envoltorio #contenido main img{
    width: 100%;
    border-radius: 5px;
}

@font-face{
font-family:"miFuenteChula0";
src: url('../Fuentes/Cabron.otf');
}
.texto{
    font-family:"miFuenteChula0";
    position: absolute;
    margin: 0 auto;
    text-align:center;
    top: 25%;
    left:28%;
    color: #F6F6F6;
    font-size: 50pt;
    line-height: 0.5pt;
    opacity: 85%;
    letter-spacing: 2pt;
    text-shadow: 2pt 4pt 8pt #444;	
}
@font-face{
    font-family:"miFuenteChula2";
    src: url('../Fuentes/MEGLORIA.ttf');		
}
#envoltorio #pie {
    width: 100%;
    background-color: black;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 3px;
    font-size: 15pt;
    opacity: 90%;
    font-family: "miFuenteChula2";
    text-decoration: none;
    color:white;
}

div.centrado{
    margin: 0 auto;
    text-align: center;
}
@font-face{
    font-family: miFuenteChula1;
    src: url('../Fuentes/Cabron.otf');
}
h6{
    font-family: 'miFuenteChula1';
    color: #DCD457;
}