/*Importación de fuentes*/
@font-face{
    font-family:"miFuenteChula0";
    src: url('../Fuentes/Cabron.otf');
}

@font-face{
    font-family: miFuenteChula1;
    src: url('../Fuentes/Cabron.otf');
}

@font-face{
    font-family:"miFuenteChula2";
    src: url('../Fuentes/MEGLORIA.ttf');		
}

@font-face {
    font-family: "miFuenteChulaD";
    src: url('../Fuentes/Nesatho.otf');
}

@font-face {
    font-family: "miFuenteChula3";
    src: url('../Fuentes/PressStart2P-Regular.ttf');
}


/*Para todas las páginas*/
* {
    box-sizing: border-box;
}

h1{
    text-align: center;
}

body {
    background-image: url(../img/Utilidades/maxresdefault.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Maquetación de la portada*/
#envoltorioport {
    width: 95%;
    margin: 2% auto;
    min-width: 600px;
    flex-wrap: wrap;
}

#envoltorio #contenidoport {
    display: flex;
}

#envoltorioport #contenidoport{
    font-family:"miFuenteChula0", Arial, Helvetica, sans-serif;
    color: #F6F6F6;
    font-size: 4em;
    line-height: 0.5pt;
    opacity: 95%;
}

#envoltorioport #contenidoport #titulo{
    text-shadow: 2pt 4pt 8pt #444;
    letter-spacing: 2pt;
    line-height: 0.5pt;
    position: absolute;
    padding-left: 3%;
}

#envoltorioport #contenidoport a{
    text-decoration: none;
    color: white;
}

div .centrado{
    margin: 0 auto;
    text-align: center;
}


/*Maquetación index*/
#envoltorio #index {
    height: 350px;
    text-align: center;
    font-size: 230%;
    background-image: url(../img/Utilidades/fondo_index.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(44, 9, 139);
    opacity: 90%;
    color: rgb(44, 9, 139);
    margin-bottom: 1%;
    margin-top: 1%;
}

#envoltorio #index a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/*Maquetación de las páginas de contenido*/
#envoltorio {
    width: 90%;
    margin: 0 auto;
    min-width: 600px;
    flex-wrap: wrap;
}

#envoltorio header img {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

#envoltorio nav {
    background-color: firebrick;
    border: 2px solid black;
    width: 100%;
    text-align: center;
}

#envoltorio nav #indice {
    align-items: stretch;
}

#envoltorio nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

#envoltorio #contenido{
    display: flex;
    flex-direction: column;
}

#envoltorio #contenido a {
    text-decoration: none;
    color: white;
}

#envoltorio #contenido main{
    width: 100%;
    padding: 20px 5px;
}

#envoltorio #contenido main img{
    width: 100%;
    border-radius: 5px;
}

#videoinicio{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Pie de página*/
#envoltorio #pie {
    width: 100%;
    background-color: black;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 3px;
    font-size: 15pt;
    opacity: 90%;
    font-family: "miFuenteChula2", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:white;
}

#envoltorio #pie a {
    text-decoration: none;
    color: white;
}


/*Carrusel de imágenes*/
#envoltorio div{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#envoltorio div .flechitas{
    width: 5%;
    display: flex;
    flex-shrink: 1;
}

#envoltorio div #carrusel{
    width: 100%;
    display: flex;
     flex-shrink: 4;
    overflow: HIDDEN;
}

#envoltorio div .flechitas img{
    width: 100%;
}

#envoltorio div #carrusel img{
    width: 95%;  
}

#envoltorio div .albion{
    justify-content: center;
}
#envoltorio .albion a {
    width: 80%;
}

#envoltorio .albion a img{
    width: 100%;
}


/*Páginas contenido mangas*/
.Cuirc {
    display: flex;
    justify-content: center;
}

#envoltorio .Cuirc .tamaño1 img {
    width: 100%;
}

#envoltorio .Cuirc .tamaño1 {

    width: 100%;
}

main #envoltorio .Cuirc .tamaño {
    font-family: "miFuenteChulaD", Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    width: 150%;
    color: white;
    margin: 1% 1%;
    background-color: rgb(44, 9, 139);
    opacity: 90%;
    flex-direction: column;
    text-align: center;
}


/*Maquetación envoltorio y contenido páginas másvendidos y ofertas*/
#envoltorio_01{
    width: 90%;
    margin: 0 auto;
    min-width: 650px;
}

main #envoltorio_01{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main #envoltorio_01 div{
    width: 20%;
    display: flex;
    flex-direction: column;
}

main #envoltorio_01 div img{
    width: 100%;
}

main #envoltorio_01 div p{
    text-align: center;
    background-color: rgb(44, 9, 139);
    opacity: 90%;
    color: white;
    font-size: 0.9em;
    font-family: "miFuenteChula3", Arial, Helvetica, sans-serif;
}

main #envoltorio_01 aside{
    display: flex;
    width: 20%;
    float: right;
    flex-direction: column;
}

main #envoltorio_01 aside img{  
    display: flex;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    font-size: larger;
}

main #envoltorio_01 aside video{
    border: 1%;
    border-radius: 20px;
    display: flex;
    width: 100%;
}