*{
    box-sizing: border-box;
}

body {
    background-image: url(../img/maxresdefault.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#envoltorio {
    width: 90%;
    margin: 0 auto;
    min-width: 600px;
}

#envoltorio header img {
    width: 100%;
    border: 2px solid black;
}

#envoltorio nav {
    background-color: firebrick;
    border: 2px solid black;
    width: 100%;
    text-align: center;
}

#envoltorio nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}