h1{
    text-align: center;
}
*{
    box-sizing: border-box;
}
#envoltorio{
    width: 90%;
    margin: 0 auto;
    min-width: 650px;
}
#envoltorio header img{
    width: 100%;
    border-radius: 10px;
}
#envoltorio #contenido{
    display: flex;
    flex-direction: column;

}
#envoltorio #contenido main{
    width: 100%;
    padding: 20px 5px;
}
#envoltorio #contenido a {
    text-decoration: none;
    color: white;
}
#envoltorio #contenido main img{
    width: 100%;
    border-radius: 5px;
}

@font-face{
font-family:"miFuenteChula0";
src: url('../Fuentes/Cabron.otf');
}
.texto{
    font-family:"miFuenteChula0";
    position: absolute;
    margin: 0 auto;
    text-align:center;
    top: 25%;
    left:28%;
    color: #F6F6F6;
    font-size: 50pt;
    line-height: 0.5pt;
    opacity: 85%;
    letter-spacing: 2pt;
    text-shadow: 2pt 4pt 8pt #444;	
}
@font-face{
    font-family:"miFuenteChula2";
    src: url('../Fuentes/MEGLORIA.ttf');		
}
#envoltorio #pie {
    width: 100%;
    background-color: #black;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 3px;
    font-size: 15pt;
    opacity: 90%;
    font-family: "miFuenteChula2";
    text-decoration: none;
    color:white;
}
body{
    background-image: url(../img/maxresdefault.jpg);
}
div.centrado{
    margin: 0 auto;
    text-align: center;
}
@font-face{
    font-family: miFuenteChula1;
    src: url('../Fuentes/Cabron.otf');
}
h6{
    font-family: 'miFuenteChula1';
    color: #DCD457;
}